﻿@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    background-image: url("images/feathers.jpg");
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    z-index: 100;
    background: linear-gradient(to right, #ff66cc, #ffb3e6, #ff66cc);
}

.chicascontainer {
    background-color: white;
}

.elementclass {
    background: linear-gradient(#cccccc,#e6e6e6);
    border: 7px solid #ffffff;
    padding: 0;
    max-height: 50vh;
    overflow: hidden;
    cursor: pointer;
}

.anchortodialog img {
    width: 100%;
}

.elementclass ul {
    margin-left: 0;
    padding-left: 0;
}

    .elementclass ul li {
        display: inline-block;
        list-style: none;
        color: #006bb3;
        padding: 0 5px 0 5px;
        margin-left: 0;
        background-color: #b3e0ff;
    }

    .elementclass ul p {
        color: #4d4d4d;
    }

.elementclass a {
    text-decoration: none;
}

#modalid {
    margin-top: 0;
    margin-bottom: 0;
    
}

.holder {
    height: 75vh;
}

.jumby {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
    background-image: url(images/blonde.png);
    background-size: cover;
    background-position: bottom left;
    height: 75vh;
    clip-path: polygon(0 0, 100% 0, 100% 500px, 0 100%)
}

    .jumby .letters {
        display: block;
        float: right;
        margin: 0;
        padding: 0;
    }

.jumbydesc {
    text-align: right;
    font-family: Great Vibes;
    font-size: 60px;
}

.jumby h1 {
    text-align: right;
    font-family: Lobster;
}

.jumbybutton {
    text-align: right;
}

.body-content {
    margin-bottom: 0;
    padding-bottom: 0;
}


.secciontexto {
    padding: 150px 10vw 10vw 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    font-size: 400%;
    background: url(images/redhead.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    color: white;
    font-family: Great Vibes;
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%)
}

.jumbyletters {
    padding-right: 50px;
    animation-name: moveInRight;
    animation-duration: 4s;
}

    .jumbyletters div {
        margin: 0;
        padding: 0;
    }

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        opacity: 0.8;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        opacity: 0.8;
        transform: translateX(200px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.chicascontainer h1 {
    font-size: 8vw;
    font-family: Great Vibes;
    text-align: center;
    font-weight: bold;
}

.righttoleft {
    display: block;
}

.lefttoright {
    display: block;
}

.righttoleft p {
    display: block;
}

.lefttoright p {
    display: block;
}

.in-view .righttoleft {
    animation-name: moveInRight;
    animation-duration: 4s;
}

.in-view .lefttoright {
    animation-name: moveInLeft;
    animation-duration: 4s;
}

.in-view {
    animation-name: moveInLeft;
    animation-duration: 1s;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #ff66cc, #ffb3e6, #ff66cc);
    color: white;
    text-align: center;
}



.modal {
    z-index: 99999;
    display: none;
    position: fixed;
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    width: 100%;
    

    
}

.elementclass:hover {
    border-radius: 6px;
    border-color: #ff66cc;
    z-index: 2;
    transform: scaleY(1.1);
}

.carousel-inner {
    /*max-width: 100%;
    max-height: 100%;*/
}

.form-group {
    margin: 0;
    padding: 0;
}

.form-control {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}



.modaltelefono {
    float: right;
}

    .modaltelefono i {
        color: green;
    }

.personalinfo {
    margin-bottom: 20px;
    font-style: italic;
}

.modaldescripcion {
    font-size: 100%;
}

.rightsidepanel * {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}


.leftsidepanel {
    margin:0;
    padding:0;
}

.modaltitulo {
    padding-bottom: 10px;
    font-family: Lobster;
}

.labiosnavtitle {
    font-family: Lobster;
}

.titulonavbar {
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: Lobster;
}

.ultima {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 30px;
    font-family: Lobster;
}

.carouselfoto {
    width: 100%;
}
#myCarousel {
    max-width: 100%;
    
    background-color: black;
}

/*#mycarousel {
    
    background-color: black;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    max-width: 500px;
    max-height: 825px;
}*/

.currentimage {
    cursor: pointer;
    opacity: 1;
}

.imgtobedeleted {
    cursor: pointer;
    opacity: 0.3;
}

.editchicaimagecontainer {
    height: 100vh;
    position: relative;
    margin-top: 50px;
}

    .editchicaimagecontainer button, .editchicaimagecontainer img {
        position: absolute;
    }

    .editchicaimagecontainer img {
        height: 100%;
        width: 100%;
    }

.imagendeperfilactive {
    background-color: yellow;
}

