﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}
.navbar{
    
    z-index: 100;
    background:linear-gradient(to right, #4d4d4d, gray, #4d4d4d);
}

   
.elementclass {
    background-color: #ffff00;
    border: 7px solid #ffffff;
    padding: 0;
}


.elementclass ul {
    margin-left: 0;
    padding-left: 0;
}
.elementclass ul li{
    display: inline-block;
    list-style: none;
    color: #006bb3;
    padding: 0 5px 0 5px;
    margin-left: 0;
    background-color: #b3e0ff;

}
.elementclass ul p {
    color: #4d4d4d;
}
.elementclass a {
    text-decoration: none;
}
#modalid {
    margin-top: 0;
    margin-bottom: 0;
}
#jumby {
    background-image:url(images/blonde.png);

}


.modal {
    z-index: 99999;
    display: none;
    position: fixed;
    overflow: scroll;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}
.modal-content {
    width: 90%;
}
