﻿@using PeruanasKine.Controllers.api
@using PeruanasKine.Models
@model IEnumerable<PeruanasKine.Models.Chica>

@{
    ViewBag.Title = "PeruanasKine - HomePage";
}


<div class="jumbotron row jumby">

    <div class="jumbyletters">
        <div class="row">
            <div class="col-md-5 pull-right">
                <h1>LabiosRosa</h1>

            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 pull-right">
                <p class="jumbydesc">Fotos 100% reales certificadas</p>
            </div>

        </div>

    </div>


</div>
<div class="holder"></div>



<div class="row pull-right ultima">
    <p>Ultima Actualizacion:04/04/2018</p>
</div>







<div class="chicascontainer row">

    <h1>Chicas Actuales</h1>
    @foreach (Chica element in Model)
    {

        <div class="elementclass col-md-3">
            <a class="anchortodialog">
                <img src="../../Content/images/@element.image" style="float: right" class="img-responsive" />
                <ul class="@element.ChicaId">

                    <li>@element.Name</li>
                    <li>@element.edad años</li>

                    
                    <li>@element.titulo</li>
                    <li>$@element.precio</li>
                    <li>@element.distrito</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>



            </a>




        </div>
    }

</div>



<div class="secciontexto row">
    <div class="row righttoleft">
        <p>Trato de pareja</p>
    </div>
    <div class="row lefttoright">
        <p>Fantasias</p>
    </div>
    <div class="row righttoleft">
        <p>Buen servicio</p>
    </div>

</div>


<div id="modalid" class="modal tobedisplayedindialog">
    <div class="modal-content">

        <div class="leftsidepanel">

        </div>
        
        <div class="rightsidepanel">

        </div>
        

    </div>

</div>

@section scripts{

    <script>
        $(document).ready(function () {
            var modal = document.getElementById('modalid');
            var aspectratio = 0.606


            var $window = $(window);

            function check_if_in_view() {
                var $animation_elements = $('.secciontexto, .elementclass');
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position = (window_top_position + window_height);

                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position = (element_top_position + element_height);

                    //check to see if this current container is within viewport
                    if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                        $element.addClass('in-view');

                    } else {
                        $element.removeClass('in-view');

                    }
                });
            }

            //$window.on('scroll resize', check_if_in_view('.chicascontainer'));
            $window.on('scroll resize', check_if_in_view);
            $window.trigger('scroll');


            $('.anchortodialog').click(function () {
                window.history.pushState('forward', null, './#forward');
                $(document.body).css({ overflow: 'hidden' });
                $('.modal').css({
                    overflow: 'auto',
                    visibility: 'visible',
                    display: 'block',
                    padding: '0px 0 0px 0',
                    'background-color': 'rgb(0,0,0)',
                    'background-color': 'rgba(0,0,0,0.7)'

                });


                $('.modal-content').css({
                    
                    "margin": '0',
                    "padding": '0',
                    'background-color': '#f2f2f2',
                    'border-style': 'none',
                    
                    
                });


                var $ele = $(this).closest('.anchortodialog').clone(true);
                
                
                $.get("/api/Chicas/GetChica?ID=" + ($(this).children('ul')).attr("class"), function (data) {


                    $('.leftsidepanel').append(
                        " <div id='myCarousel' class='carousel slide' data-ride='carousel'>" +
                        "<div class='carousel-inner'></div>" +

                        "</div>"

                    )

                    $('.rightsidepanel').append(


                        "<div> " +
                        "<h1 class='modaltitulo'>" + data.titulo + "</h1>" +
                        "</div>" +
                        "<div class='personalinfo'>" +
                        "<div>" +
                        "<h4 class='modaldistrito'>" + data.distrito + "</h4>" +
                        "<h4 class='modaledad'>" + data.edad + "</h4>" +
                        "<h4 class='modalnombre'>" + data.Name + "</h4>" +
                        "</div>" +


                        "</div>" +
                        "<div> " +
                        "<p class='modaldescripcion'>" + data.descripcion + "</p>" +
                        "</div>"


                    );
                    //if ($(window).width() < 500) {
                    //    $(".modaldescripcion").css({
                    //        "font-size": "400%"
                    //    })

                    //} else if ($(window).width() >= 500 && $(window).width() <= 727) {
                    //    $(".modaldescripcion").css({
                    //        "font-size": "200%"
                    //    })
                    //} else if ($(window).width() >= 1026 && $(window).width() <= 1200) {
                    //    $(".carousel-inner").css({
                    //        "max-width": "500px",
                    //        "max-height": "825px",
                    //    })
                    //    $("#myCarousel").css({
                    //        "max-width": "500px",
                    //        "max-height": "825px",
                    //    })
                    //} else if ($(window).width() > 1200) {
                    //    $(".modaldescripcion").css({
                    //        "font-size": "200%"
                    //    })
                    //    $(".carousel-inner").css({
                    //        "max-width": "500px",
                    //        "max-height": "825px",
                    //    })
                    //    $("#myCarousel").css({
                    //        "max-width": "500px",
                    //        "max-height": "825px",
                    //    })
                    //}
                        



                    $.each(data.Imagens,
                        function (k, v) {
                            
                            var img = $('<img id="dynamic">'); //Equivalent: $(document.createElement('img'))
                            
                            if (k === 0) {
                                $(".carousel-inner").append(
                                    "<div class='item active'>" +
                                    "<img src='" + v.imagepath + "' class='carouselfoto'/>" +
                                    "</div>")
                            } else {
                                $(".carousel-inner").append(
                                    "<div class='item'>" +
                                    "<img src='" + v.imagepath + "' class='carouselfoto'/>" +
                                    "</div>")
                            }

                        });
                    $('#myCarousel').append(
                        "<a class='left carousel-control' href='#myCarousel' data-slide='prev'>" +
                        "<span class='glyphicon glyphicon-chevron-left'></span>" +
                        "<span class='sr-only'>Previous</span>" +
                        "</a>" +
                        "<a class='right carousel-control' href='#myCarousel' data-slide='next'>" +
                        "<span class='glyphicon glyphicon-chevron-right'></span>" +
                        "<span class='sr-only'>Next</span>" +
                        "</a>"
                    )


                    $(".carousel-inner").css({
                        "height": Math.floor($(window).width()  / aspectratio) + ""
                    })

                    translateLandscape()

                    
                });


            });

           

            $(window).on('popstate', function () {
                modal.style.display = "none";
                $(document.body).css({ overflow: 'auto' });
                $('.tobedisplayedindialog div.modal-content div.leftsidepanel').empty();
                $('.tobedisplayedindialog div.modal-content div.rightsidepanel').empty();
            });
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    $(document.body).css({ overflow: 'auto' });
                    $('.tobedisplayedindialog div.modal-content div.leftsidepanel').empty();
                    $('.tobedisplayedindialog div.modal-content div.rightsidepanel').empty();

                }

            }

            

            
            function translateLandscape() {
                $(".item img").each(function () {
                    var thisimage = $(this)
                    var cloneimage = new Image();
                    cloneimage.src = thisimage.attr("src")

                    setTimeout(function () {
                        if (cloneimage.width / cloneimage.height > 1) {
                            thisimage.css({
                                "margin-top": "25%",
                                

                            })
                            thisimage.css({
                                "margin-top": "25%",
                                

                            })
                        }
                        delete cloneimage;

                    },100)

                })
            }
            function ensureHash(newHash) {
                if (window.location.hash) {
                    return window.location.href.substring(0, window.location.href.lastIndexOf(window.location.hash)) + newHash;
                }
                return window.location.hash + newHash
            }

            

            $(window).on('resize', function () {
                
                console.log($(window).width())
                console.log($(window).height() * aspectratio)
                
                
                translateLandscape()
                var resizedviewport = $(window).width()
                var resizednewcarouselinnerheight = Math.floor((resizedviewport)/ aspectratio)

                
                if ($(window).width() < $(window).height() * aspectratio) {
                    $(".carousel-inner").css({
                        "width":"100%",
                        "height": resizednewcarouselinnerheight + "",

                        "max-height": "100vh"
                    })
                    $(".item img").css({
                        "width": "100%",
                        "height": resizednewcarouselinnerheight + "",
                        "max-height":"100vh"
                    })
                }


                else if ($(window).width() >= $(window).height() * aspectratio) {
                    
                    $(".carousel-inner").css({
                        "width": "500px",
                        "max-width": "500px",
                        "height": resizednewcarouselinnerheight + "",
                        "max-height": "100vh"
                    })
                    $("#mycarousel").css({
                        "width": "500px",
                        "max-width": "500px",
                        "height": resizednewcarouselinnerheight + "",
                    })

                    $(".item img").css({
                        "width": resizednewcarouselinnerheight * aspectratio +"",
                        "height": resizednewcarouselinnerheight + "",
                        "max-height": "100vh"
                    })
                    
                }


            })


        })
    </script>
}