﻿
@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddImage</h2>
<a class="btn btn-warning" href="/Admin/EditChica?id=@Request.QueryString["id"]">Regresar a Editar Chica</a>
<img id="blah" src="#" alt="your image" />
<label for="landscapecheck">Landscape</label>
<input id="landscapecheck" type="checkbox"/>
<form id="form1" action="/api/Chicas/AddImage?id=@Request.QueryString["id"]" method="post" enctype="multipart/form-data">

    <input type="hidden" id="x" name="x" />
    <input type="hidden" id="y" name="y" />
    <input type="hidden" id="w" name="w" />
    <input type="hidden" id="h" name="h" />
    <input type='file' id="imgInp" name="file" />
    <input type="submit" value="submit" />
</form>

@section scripts{
    <script src="~/Scripts/Jcrop.js"></script>
    <script>
        var originalImageWidth = 0
        var originalImageHeight = 0
        var targetwidth = 300;
        var targetheight = 495;
        var ratio = targetwidth / targetheight

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);

                    
                    

                    
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
            





            setTimeout(function () {
                $('#blah').Jcrop({
                    aspectRatio: ratio,
                    setSelect: [0, 0, targetwidth, targetheight],
                    onSelect: updatecoords,
                    onChange: updatecoords

                });

            },300)

        });
        function updatecoords(c) {

            $('#x').attr("value", c.x);
            $('#y').attr("value", c.y);
            $('#w').val(c.w);
            $('#h').val(c.h);
        }
        $('#landscapecheck').change(function () {
            if (this.checked) {
                $('#blah').Jcrop({
                    aspectRatio: false,
                    setSelect: [0, 0, originalImageWidth, originalImageHeight],
                    onSelect: updatecoords,
                    onChange: updatecoords

                });
            } else {
                $('#blah').Jcrop({
                    aspectRatio: ratio,
                    setSelect: [0, 0, targetwidth, targetheight],
                    onSelect: updatecoords,
                    onChange: updatecoords

                });
            }
            
        })



    </script>
    
    
    }