﻿@using PeruanasKine.Controllers.api
@using PeruanasKine.Models
@model IEnumerable<PeruanasKine.Models.Chica>


@{
    ViewBag.Title = "AdminPortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h2>AdminPortal</h2>
@Html.Partial("_LoginPartial")
<a  class="btn-success btn" href="/Admin/CreateChica">Crear Nueva entrada</a>

<div class="chicascontainer row">
    <h1>Chicas</h1>
    @foreach (Chica element in Model)
    {

        <div class="elementclass col-md-3">
            <a class="anchortodialog">
                <img src="../../Content/images/@element.image" style="float: right" class="img-responsive img-rounded" />
                <ul class="@element.ChicaId">

                    <li>@element.Name</li>
                    <li>@element.edad años</li>

                    <li>@element.ranking</li>
                    <li>@element.titulo</li>
                    <li>$@element.precio</li>
                    <li>@element.distrito</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>



            </a>




        </div>
    }

</div>
<div class="secciontexto row">
    <div class="row righttoleft">
        <p>Lo mejor</p>
    </div>
    <div class="row lefttoright">
        <p>Extraordinaria experiencia</p>
    </div>
    <div class="row righttoleft">
        <p>Estupendo servicio</p>
    </div>

</div>


<div id="modalid" class="modal tobedisplayedindialog">
    <div class="modal-content row">

        <div class="leftsidepanel col-md-8">
            <div class="row">
                <h1 class="modaltitulo"></h1>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h4 class="modaldistrito"></h4>
                    <h4 class="modaledad"></h4>
                    <h4 class="modalnombre"></h4>
                </div>
                <div class="col-md-5">
                    <h3 class="modaltelefono"></h3>
                </div>
            </div>
            <div class="row">
                <p class="modaldescription"></p>
            </div>
            <div class="row modalfotos">

            </div>


        </div>
        <div class="rightsidepanel col-md-4">

        </div>

    </div>

</div>

@section scripts{

    <script>
        $(document).ready(function () {
            var modal = document.getElementById('modalid');


            var $window = $(window);

            function check_if_in_view() {
                var $animation_elements = $('.secciontexto, .elementclass');
                var window_height = $window.height();
                var window_top_position = $window.scrollTop();
                var window_bottom_position = (window_top_position + window_height);

                $.each($animation_elements, function () {
                    var $element = $(this);
                    var element_height = $element.outerHeight();
                    var element_top_position = $element.offset().top;
                    var element_bottom_position = (element_top_position + element_height);

                    //check to see if this current container is within viewport
                    if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                        $element.addClass('in-view');

                    } else {
                        $element.removeClass('in-view');

                    }
                });
            }

            //$window.on('scroll resize', check_if_in_view('.chicascontainer'));
            $window.on('scroll resize', check_if_in_view);
            $window.trigger('scroll');

            /*
            $.get("/api/Chicas/GetChicas", function (data) {
                console.log(data)
                data.map(function (chica, index) {

                    $('.chicascontainer').append(
                        "<div class='elementclass col-md-3'> " +
                            "<a class='anchortodialog'>" +
                                "<img class='img-responsive' src='../../Content/images/" + chica.image + "'/>" +
                                    "<ul class='" + chica.chicaId + "'>" +
                                        "<li>" + chica.Name + "</li" +
                                        "<li>" + chica.edad +"años" + "</li" +
                                        "<li>" + chica.ranking + "</li" +
                                        "<li>" + chica.titulo + "</li" +
                                        "<li>" + chica.precio + "</li" +
                                        "<li>" + chica.distrito + "</li" +
                                "</ul>"+
                            "</a>" +
                        "</div>")
                })
            })
            */

            $('.anchortodialog').click(function () {
                $(document.body).css({ overflow: 'hidden' });
                $('.modal').css({
                    overflow: 'auto',
                    visibility: 'visible',
                    display: 'block',
                    padding: '0px 0 0px 12%',
                    'background-color': 'rgb(0,0,0)',
                    'background-color': 'rgba(0,0,0,0.7)'



                });


                $('.modal-content').css({
                    padding: '20px 0 0 0',
                    'background-color': '#f2f2f2',
                    'border-style': 'none',
                    width: '90%'
                });


                var $ele = $(this).closest('.anchortodialog').clone(true);
                //$('.tobedisplayedindialog div.row div.col-md-8').append($ele.children('ul'));
                console.log(($(this).children('ul')).attr("class"));
                $.get("/api/Chicas/GetChica?ID=" + ($(this).children('ul')).attr("class"), function (data) {
                    /*
                    console.log(data)
                    $(".modaltitulo").html(data.titulo);
                    $(".modaldistrito").html(data.distrito);
                    $(".modaledad").html(data.edad);
                    $(".modalnombre").html(data.Name);
                    //$(".modaltelefono").val(data.telefono);
                    $(".modaldescription").html(data.description);
                    */
                    console.log(data)
                    $('.leftsidepanel').append(
                        "<a href='/Admin/EditChica?id=" + data.ChicaId + "' class='btn btn-primary btn-lg'>Edit</a>" +
                        "<button class='btn btn-danger btn-lg confirmdelete'>Delete</button>"

                    );


                    $('.confirmdelete').on('click', function () {
                        var result = confirm("Estas Seguro que deseas borrar a esta chica?")
                        if (result) {
                            $.ajax({
                                url: '/api/Chicas/DeleteChica?id=' + data.ChicaId,
                                type: 'POST',
                                success: function (result) {
                                    alert("borrado con exito")
                                }
                            });
                        }
                    })



                    $('.leftsidepanel').append(
                        " <div id='myCarousel' class='carousel slide' data-ride='carousel'>" +
                        "<div class='carousel-inner'></div>" +

                        "</div>"

                    )

                    $('.tobedisplayedindialog div.row div.leftsidepanel').append(


                        "<div class='row'> " +
                        "<h1 class='modaltitulo'>" + data.titulo + "</h1>" +
                        "</div>" +
                        "<div class='row'>" +
                        "<div class='col-md-5'>" +
                        "<h4 class='modaldistrito'>" + data.distrito + "</h4>" +
                        "<h4 class='modaledad'>" + data.edad + "</h4>" +
                        "<h4 class='modalnombre'>" + data.Name + "</h4>" +
                        "</div>" +

                        "<div class='col-md-5'> " +
                        "<h3 class='modaltelefono'>" + "<i class='fa fa-whatsapp'></i>" + "1-123-45678" + "</h3>" +
                        "</div>" +
                        "</div>" +
                        "<div class='row'> " +
                        "<p class='modaldescripcion'>" + data.descripcion + "</p>" +
                        "</div>"


                    );



                    $.each(data.Imagens,
                        function (k, v) {
                            console.log(v.imagepath);
                            var img = $('<img id="dynamic">'); //Equivalent: $(document.createElement('img'))
                            console.log(k)
                            if (k === 0) {
                                $(".carousel-inner").append(
                                    "<div class='item active'>" +
                                    "<img src='" + v.imagepath + "' class='img-responsive img-rounded'/>" +
                                    "</div>")
                            } else {
                                $(".carousel-inner").append(
                                    "<div class='item'>" +
                                    "<img src='" + v.imagepath + "' class='img-responsive img-rounded'/>" +
                                    "</div>")
                            }
                            /*
                            img.attr('src', v.imagepath);
                            img.attr('class', "img-responsive img-rounded");
                            img.appendTo('.tobedisplayedindialog div.row div.col-md-8');
                            */
                        });
                    $('#myCarousel').append(
                        "<a class='left carousel-control' href='#myCarousel' data-slide='prev'>" +
                        "<span class='glyphicon glyphicon-chevron-left'></span>" +
                        "<span class='sr-only'>Previous</span>" +
                        "</a>" +
                        "<a class='right carousel-control' href='#myCarousel' data-slide='next'>" +
                        "<span class='glyphicon glyphicon-chevron-right'></span>" +
                        "<span class='sr-only'>Next</span>" +
                        "</a>"
                    )
                    console.log(data)
                    console.log(data.titulo)

                    //console.log(data.Imagens);
                });
                //$.ajax({
                //    URL:
                //})
                $('.tobedisplayedindialog div.row div.col-md-4').append($ele.children('img'));

            });

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    $(document.body).css({ overflow: 'auto' });
                    $('.tobedisplayedindialog div.row div.leftsidepanel').empty();
                    $('.tobedisplayedindialog div.row div.col-md-4').empty();








                    //$('.modal').css({visibility:'hidden', display: 'none' });
                }

            }


        })
    </script>
}
