﻿@model PeruanasKine.Models.Chica
@{
    ViewBag.Title = "AdminPortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <form class="form-group" action="/api/Chicas/CreateChica" method="Post" enctype="multipart/form-data">
        <h2>Crear Chica</h2>
        <label>Nombre</label>
        <input class="form-control" type="text" name="Name" placeholder="Name" />
        <label>edad</label>
        <input class="form-control" type="text" name="edad" placeholder="edad" />
        <label>ranking</label>
        <input class="form-control" type="text" name="ranking" placeholder="ranking" />
        <label>precio</label>
        <input class="form-control" type="text" name="precio" placeholder="precio" />
        <label>titulo</label>
        <input class="form-control" type="text" name="titulo" placeholder="titulo" />
        <label>descripcion</label>
        <input class="form-control" type="text" name="descripcion" placeholder="descripcion" />
        <label>distrito</label>
        <input class="form-control" type="text" name="distrito" placeholder="distrito" />



        <input class="form-control" type="file" name="file" id="imgInp" accept="image/x-png,image/gif,image/jpeg" />


        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />



        <input class="form-control btn btn-success" type="submit" value="submit" class="btn btn-block btn-primary" id="btnSubmit" />
    </form>
    <div>
        <label for="landscapecheck">Landscape</label>
        <input id="landscapecheck" type="checkbox" />
        <img id="blah" src="#" alt="your image" />


    </div>

</div>
@section scripts{
    <script src="~/Scripts/Jcrop.js"></script>
    <script>
        var originalImageWidth = 0
        var originalImageHeight = 0
        var targetwidth = 300;
        var targetheight = 495;
        var ratio = targetwidth / targetheight

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);





                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);






            setTimeout(function () {
                $('#blah').Jcrop({
                    aspectRatio: ratio,
                    setSelect: [0, 0, targetwidth, targetheight],
                    onSelect: updatecoords,
                    onChange: updatecoords

                });

            }, 300)

        });
        function updatecoords(c) {

            $('#x').attr("value", c.x);
            $('#y').attr("value", c.y);
            $('#w').val(c.w);
            $('#h').val(c.h);
        }
        $('#landscapecheck').change(function () {
            if (this.checked) {
                $('#blah').Jcrop({
                    aspectRatio: false,
                    setSelect: [0, 0, originalImageWidth, originalImageHeight],
                    onSelect: updatecoords,
                    onChange: updatecoords

                });
            } else {
                $('#blah').Jcrop({
                    aspectRatio: ratio,
                    setSelect: [0, 0, targetwidth, targetheight],
                    onSelect: updatecoords,
                    onChange: updatecoords

                });
            }

        })

    </script>
    }