﻿
@{
    ViewBag.Title = "EditChica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form-group" action="/api/Chicas/EditChica?id=@Request.QueryString["id"]" method="post" enctype="multipart/form-data">
    <h2>EditChica</h2>
    <p>Chica Id @Request.QueryString["id"]</p>
    <label>Nombre</label>
    <input class="form-control" type="text" name="Name" placeholder="Name" />
    <label>edad</label>
    <input class="form-control" type="text" name="edad" placeholder="edad" />
    <label>ranking</label>
    <input class="form-control" type="text" name="ranking" placeholder="ranking" />
    <label>precio</label>
    <input class="form-control" type="text" name="precio" placeholder="precio" />
    <label>titulo</label>
    <input class="form-control" type="text" name="titulo" placeholder="titulo" />
    <label>descripcion</label>
    <input class="form-control" type="text" name="descripcion" placeholder="descripcion" />
    <label>distrito</label>
    <input class="form-control" type="text" name="distrito" placeholder="distrito" />


    <!--<input class="form-control" type="file" name="file" id="file" multiple accept="image/x-png,image/gif,image/jpeg" />-->
    <a class="btn btn-primary" href="/Admin/AddImage?id=@Request.QueryString["id"]">Agregar imagen y modificarla</a>

    <input class="form-control btn btn-success" type="submit" value="submit" class="btn btn-block btn-primary" id="btnSubmit" />
    
</form>

<div class="allimages"></div>

@section scripts{

    <script>
        var arrayofimages = []
        var unwantedimages = []
        var mymodal = {
            unwantedimages: unwantedimages
        }
        var makeprofilepic=''

        

        console.log(@Request.QueryString["id"])
        
        $("input[type=submit]").on("click", function () {
            if (unwantedimages.length > 0) {
                //make api request to get images removed
                
                $.ajax({
                    url: "/api/Chicas/DeleteImagesFromChica?id="+@Request.QueryString["id"],
                    type: 'POST',
                    data: JSON.stringify(mymodal),
                    dataType: 'json',
                    contentType: 'application/json',
                    async: false,
                    success: function (data) {
                        console.log(data);
                    }
                })
               
                
            }
        })
        $.get("/api/Chicas/GetChica?ID=" +@Request.QueryString["id"], function (data) {
            console.log(data)

            data.Imagens.map(function (image) {
                arrayofimages.push(image.imagepath)
                $(".allimages").append(
                    "<div class='editchicaimagecontainer'>" +
                        
                    "<img class='img-responsive currentimage' src='" + image.imagepath + "' />" +
                    
                    "<button source=" + image.imagepath + " class='imagendeperfil'>Hacer esta imagen imagen de perfil</button>" +
                    
                    "</div>"
                );
                console.log(arrayofimages)
            })
            $("img").on("click", function () {
                var thisimage = $(this)
                if (thisimage.hasClass('currentimage')) {
                    thisimage.removeClass('currentimage')
                    thisimage.addClass('imgtobedeleted')

                } else if (thisimage.hasClass('imgtobedeleted')) {
                    thisimage.removeClass('imgtobedeleted')
                    thisimage.addClass('currentimage')
                }
                unwantedimages=[]
                $('img').each(function () {
                    if ($(this).hasClass('imgtobedeleted')) {
                        unwantedimages.push({ src :$(this).attr('src') })
                    }
                })

                console.log(unwantedimages)

            })
            $(".editchicaimagecontainer button").on("click", function () {
                
                var thisbutton = $(this)
                var thisbuttonsrc = thisbutton.attr('source')
                $(".editchicaimagecontainer button").removeClass();
                $(".editchicaimagecontainer button").addClass('imagendeperfil');

                thisbutton.addClass('imagendeperfilactive')

                console.log(thisbuttonsrc)
                //make ajax request to set profile pic to thisbuttonsrc
                var dataJSON = "test";
                $.ajax({
                    type: "POST",
                    url: "/api/Chicas/SetProfilePic?id=" +@Request.QueryString["id"],
                    data: JSON.stringify(thisbuttonsrc+""),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                });
                
                
            })





            
            $("form input[type=text]").each(function (index, element) {
                var thiselement = $(this)
                console.log(thiselement)
                if (thiselement.attr("name") == "Name") {
                    thiselement.val(data.Name)
                } else if (thiselement.attr("name") == "edad") {
                    thiselement.val(data.edad)
                } else if (thiselement.attr("name") == "ranking") {
                    thiselement.val(data.ranking)
                } else if (thiselement.attr("name") == "precio") {
                    thiselement.val(data.precio)
                } else if (thiselement.attr("name") == "titulo") {
                    thiselement.val(data.titulo)
                } else if (thiselement.attr("name") == "descripcion") {
                    thiselement.val(data.descripcion)
                } else if (thiselement.attr("name") == "distrito") {
                    thiselement.val(data.distrito)
                }

                console.log(element)


                //console.log($(this).attr("name"))
            });
        })
        
    </script>
}